body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 90%;
  height: 90%;
  visibility: hidden;
}

.sparkle {
  mix-blend-mode: luminosity;
}

body {
  background-color: #151522;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 90%;
  height: 90%;
  visibility: hidden;
}

.sparkle {
  mix-blend-mode: luminosity;
}

.text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sofia", sans-serif;
  font-size: 40px;
  color: #cb9866;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 15s ease forwards; /* Use the fadeIn animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}